@tailwind base;
@tailwind components;
@tailwind utilities;

.card1 {
  background-color: theme('colors.white');
  border-radius: theme('borderRadius.lg');
  padding: theme('spacing.6');
  box-shadow: theme('boxShadow.xl');
}
.icon{
  height: 50px;
  width: 50px;
  float: left;
}
.text{
  font-size: large;
}
.image{
  background-color: rgb(218, 209, 209);
  
}
.card{
  background-color: white;
  border-radius: 10px;
  padding: 5%;
  box-shadow: inset;
  border: 1px solid hsl(0, 2%, 69%);
  width: 350px;
  font-size: large;
  overflow: hidden;
  
  white-space: normal;
}
.iconsDiv {
  display: flex;
  align-items: center;
  border: 1px solid hsl(0, 2%, 17%);
}

.iconsDiv img {
  width: 50px; 
  height: auto;
  margin-right: 10px; 
}

.iconsDiv p {
  margin: 0;
}
.yourbotarmy{
  background-color: yellow;
  width: auto;
  height: auto;
  border: 1px solid hsl(0, 2%, 17%);
margin-top: 40px;
margin-right:10px;
margin-left: 10px;
min-height: 450px;
border-radius: 5px;
padding: 20px;
}
.botIcon{
  width: 25px;
  height: 25px;
}
.avatarSpecs{
  border-radius: 100%;
  border: 1px solid hsl(0, 2%, 17%);
  
}
.Specs-container {
  display: flex;
  -ms-flex-item-align: center;
  justify-content: center;
  margin-top: 20px;
}
.specsdiv{
  margin-top: 10px;
  margin-left: 10px;
}
.button{
  border: 1px solid hsl(0, 2%, 17%);
  height: 50px;
  width: 100%;
  background-color: rgb(187, 180, 180);
}
.Botcontainer{
  border: 1px solid hsl(0, 2%, 69%);
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.background-image {
  background-image: url('https://cdn5.vectorstock.com/i/1000x1000/77/19/hand-drawn-robot-isolated-on-white-background-vector-6777719.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 100vh; 
  
}
.Sortbutton{
  border: 1px solid hsl(0, 0%, 0%);
  background-color: gray;
  margin-left: 10px;
  border-radius: 5px;
}
